{
 "presets": [
   ["@babel/preset-env", {
     "targets": {
       "node": "current"
     }
   }]
 ],
 "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@utils": "./app/utils",
        "@modules": "./app/modules",
        "@models": "./app/db/models"
      }
    }]
  ]
}